<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<div id="loginDiv">
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}">
            <p style="color: red">Неправильное имя пользователя или пароль</p>
        </div>

        <label for="username">Логин:
            <input id="username" type="text" name="username" required>
        </label>
        <br>
        <label for="password">Пароль:
            <input id="password" type="password" name="password" required>
        </label>
        <br>
        <button type="submit">Войти</button>
    </form>
</div>
<br>

<div id="registerDiv">
    <form th:action="@{users/register}" method="get">
        <button type="submit">Регистрация</button>
    </form>
</div>

</body>
</html>