<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
</head>
<body>
<div id="rootDiv">
    <h1 th:text="|Добро пожаловать, ${#authentication.name} ${username}|" th:if="${username != null}"/>

    <div th:insert="~{fragment/fragment.html::header}"></div>

    <div>
        <a th:href="@{/users}">Все пользователи</a>
    </div>
    <br>

    <div>
        <a href="/v3/api-docs">Документация</a><br>
    </div>
    <div>
        <a href="/swagger-ui/index.html">Swagger</a><br>
    </div>
    <br>

    <div id="registerDiv">
        <form th:action="@{users/register}" method="get">
            <button type="submit">Добавить нового пользователя</button>
        </form>
    </div>
    <br>
</div>
</body>
</html>