<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
</head>
<body>
<div>
    <h1>Привет, Мир!!!</h1>
    <p th:text="|Идентификатор сессии: ${sessionId}|"/><br>

    <form action="/login" method="get">
        <button type="submit">Вход в систему</button>
    </form>
    <br>

    <form action="users/register" method="get">
        <button type="submit">Регистрация</button>
    </form>
    <br>


    <div>
        <a href="/v3/api-docs">Документация</a><br>
    </div>
    <div>
        <a href="/swagger-ui/index.html">Swagger</a><br>
    </div>

</div>
</body>
</html>