<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ${} -->
	<!--<context:property-placeholder location="classpath:application.properties"/>-->
	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<!-- По умолчанию classpath-->
		<property name="location" value="classpath:application.properties"/>
	</bean>

	<bean class="ru.otr.learn.ioc.crud.bpp.InjectBeanPostProcessor"/>
	<bean class="ru.otr.learn.ioc.example.bfpp.BeanFactoryPostProcessorExample"/>

	<bean name="myString" class="java.lang.String">
		<constructor-arg name="original" value="${my.string}"/>
	</bean>
	<bean name="myDouble" class="java.lang.Double">
		<constructor-arg name="value" value="47.0d"/>
	</bean>
	<bean name="myList" class="java.util.ArrayList">
		<constructor-arg name="c">
			<list value-type="java.lang.String">
				<value>${my.list.value1}</value>
				<value>${my.list.value2}</value>
			</list>
		</constructor-arg>
	</bean>
	<bean name="myMap" class="java.util.HashMap">
		<constructor-arg name="m" index="0">
			<map key-type="java.lang.String" value-type="java.lang.String">
				<entry key="Ключ1" value="#{myList.get(0)}"/>
				<entry key="Ключ2" value="Значение2"/>
				<entry key="Ключ2" value="Значение22"/>
				<entry key="Ключ3" value="#{'${my.list.values}'.split(',')[2]}"/>
			</map>
		</constructor-arg>
	</bean>


	<bean id="beanExampleConstructor_id" name="beanExampleConstructor_name" scope="prototype"
		  class="ru.otr.learn.ioc.example.BeanExampleConstructor">
		<constructor-arg index="0" type="java.lang.String" name="stringField" value="Привет мир"/>
		<constructor-arg index="1" type="java.lang.Double" name="doubleField" value="47.0d"/>
		<constructor-arg index="2" type="java.util.List" name="list">
			<list value-type="java.lang.String">
				<value>Значение 1</value>
				<value>Значение 2</value>
			</list>
		</constructor-arg>
		<constructor-arg index="3" type="java.util.Map" name="map">
			<map key-type="java.lang.String" value-type="java.lang.Object">
				<entry key="Ключ1" value="Значение1"/>
				<entry key="Ключ2" value="Значение2"/>
				<entry key="Ключ2" value="Значение22"/>
			</map>
		</constructor-arg>
	</bean>

	<bean name="beanExampleSetter_1" class="ru.otr.learn.ioc.example.BeanExampleSetter"/>
	<bean name="beanExampleSetter_2" class="ru.otr.learn.ioc.example.BeanExampleSetter">
		<property name="stringField" value="Привет мир 2"/>
		<property name="doubleField" value="13"/>
		<property name="list">
			<list>
				<value>Значение 47</value>
			</list>
		</property>
		<property name="map">
			<map>
				<entry key="Ключ1" value="Значение1"/>
			</map>
		</property>
	</bean>

	<bean name="beanExampleMix" class="ru.otr.learn.ioc.example.BeanExampleMix" lazy-init="true"
		  init-method="init"
		  destroy-method="destroyFromXML">
		<constructor-arg index="0" ref="myString"/>
		<constructor-arg index="1" ref="myDouble"/>
		<constructor-arg index="2" ref="myList"/>
		<property name="map" ref="myMap"/>
	</bean>

	<bean name="userRepositoryBean" class="ru.otr.learn.ioc.example.UserRepository"/>
	<bean name="userServiceConstructor" class="ru.otr.learn.ioc.example.service.UserServiceConstructor">
		<constructor-arg index="0" ref="userRepositoryBean"/>
	</bean>
	<bean name="userServiceSetter" class="ru.otr.learn.ioc.example.service.UserServiceSetter">
		<property name="userRepository" ref="userRepositoryBean"/>
	</bean>

	<bean name="companyController" class="ru.otr.learn.ioc.crud.controller.CompanyController"/>
	<bean name="companyService" class="ru.otr.learn.ioc.crud.service.CompanyService"/>
	<bean name="companyRepository" class="ru.otr.learn.ioc.crud.repository.CompanyRepository"/>
</beans>